@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

//THEMIFY
@import "../themify-icons/themify-icons.css";

html,
body,
* {
    @apply p-0 m-0;
    box-sizing: border-box;
    --scrollbarBG: #ccc;
    --thumbBG: #14213d;
}

*:focus {
    outline: none;
}

html,
.chats,
.search-results {
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

// GLOBAL

.app-wrapper {
    @apply min-h-screen flex flex-col;
}

.footer-wrapper {
    @apply mt-auto;
}

.car-drive-container {
    @apply px-3 sm:px-5 lg:px-10;
}

// GLOBALEND

// LOADER
.loader {
    .loading {
        @apply bg-brand-2 w-full;
        height: 5px;
        background: linear-gradient(90deg, #fca311, #fca311) center bottom/0 5px
            no-repeat;
        animation: loaderLoading 1.2s ease infinite;
    }
}

@keyframes loaderLoading {
    0%,
    100% {
        background-size: 0 5px;
    }

    75% {
        background-size: 100% 5px;
    }
}

// LOADER END

// FILE UPLOAD

.cardrive-file-upload-wrapper {
    .file-upload {
        @apply min-h-150 md:min-h-300 w-full rounded-md shadow flex justify-center items-center bg-white;

        .browse-area {
            @apply border-2  border-dashed rounded-md border-blue-500 min-h-135 md:min-h-280 w-95/100 flex justify-center items-center cursor-pointer bg-white hover:bg-gray-100;

            .info {
                @apply flex flex-col justify-center items-center;

                i {
                    @apply mb-2 text-blue-500 text-5xl font-bold;
                }

                p.file-name {
                    @apply font-bold text-gray-700;
                }

                p.file-size {
                    @apply text-gray-600;
                }
            }
        }
    }
}
// FILE UPLOAD END

// INPUT GLOBAL STYLES

.radio-group {
    @apply flex items-center justify-between w-4/5 my-5 lg:w-3/5;
}

.input-group {
    @apply flex flex-col my-2;

    --anim-duration: 0.2s;
    --anim-easing: ease-out;

    .field-errors {
        @apply text-xs text-red-600 italic;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input.with-datalist {
        @apply appearance-none  p-2;
        background: linear-gradient(90deg, #14213d44, #14213d) center bottom/0
                2px no-repeat,
            linear-gradient(90deg, #11111144, #11111144) left bottom/100% 2px
                no-repeat,
            linear-gradient(90deg, #f3f4f633, #f3f4f633) left bottom/100%
                no-repeat;

        transition: background-size 0.3s ease;

        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border: none;
        outline: none;
    }

    input[type="file"] {
        @apply appearance-none  p-2;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border: 3px #f3f4f6cc solid;
        outline: none;
    }

    select {
        @apply my-2 appearance-none  p-2;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border: 3px #f3f4f6cc solid;
        outline: none;
    }

    label {
        @apply text-base sm:text-lg lg:text-xl font-semibold text-gray-800;
    }

    label .hint-box {
        @apply text-sm ml-2 italic font-normal;
    }

    textarea {
        @apply p-2;

        border: #11111144 2px solid;
        outline: none;
        border-radius: 3px;
        background-color: #f3f4f633;
        transition: border-left-color var(--anim-duration) var(--anim-easing),
            border-top-color var(--anim-duration) var(--anim-easing)
                calc(var(--anim-duration) * 1),
            border-right-color var(--anim-duration) var(--anim-easing)
                calc(var(--anim-duration) * 2),
            border-bottom-color var(--anim-duration) var(--anim-easing)
                calc(var(--anim-duration) * 3);
    }

    textarea:focus {
        border: #14213d 2px solid;
        transition: border-bottom-color var(--anim-duration) var(--anim-easing),
            border-right-color var(--anim-duration) var(--anim-easing)
                calc(var(--anim-duration) * 1),
            border-top-color var(--anim-duration) var(--anim-easing)
                calc(var(--anim-duration) * 2),
            border-left-color var(--anim-duration) var(--anim-easing)
                calc(var(--anim-duration) * 3);
    }

    input:focus {
        background-size: 100% 2px, 100% 2px, 100%;
    }

    input,
    textarea {
        @apply flex flex-col mt-1 sm:mt-3 mb-3 sm:mb-6;
    }
}

// INPUT GLOBAL STYLES END
.mobile-nav {
    @apply min-h-screen fixed items-center  py-10  flex flex-col z-50 top-0 left-0 w-full p-5;

    .branding {
        a{
            img {
                height: 3.5rem !important;
            }
        }
    }

    i.nav-toggle {
        @apply mt-5;
    }

    nav {
        @apply flex flex-col;

        display: block !important;

        ul.link-list {
            @apply flex flex-col md:flex-row my-10 md:my-0 gap-5 md:gap-8 items-center;

            li {
                @apply border-b-2 border-transparent hover:border-brand-2 transition-all delay-100;
                a {
                    @apply uppercase;
                }
            }

            &.guest-routes {
                @apply flex justify-center flex-col md:flex-row gap-3 items-center mt-10;
                margin-left: 0 !important;

                li {
                    @apply border border-brand-2 hover:bg-brand-2 hover:border-transparent px-4 py-1.5 rounded-md;

                    a {
                        @apply sm:font-semibold lg:font-bold;
                    }
                }
            }

            &.auth-routes {
                @apply mt-5 md:mt-0 md:ml-10;
                margin-left: 0 !important;

                li.admin-nav {
                    @media (min-width: 640px) {
                        display: none !important;
                    }
                }

                span {
                    @apply uppercase;
                }
            }
        }
    }
}

.normal-nav {
    @apply flex justify-between items-center h-16;
}

.navbar-wrapper {
    @apply bg-brand-1  text-white;

    .branding {
        img {
            @apply h-8;
        }
    }

    i.nav-toggle {
        @apply text-brand-2 text-3xl sm:text-xl sm:hidden cursor-pointer;
    }

    nav {
        @apply hidden sm:flex sm:items-center sm:gap-4;

        ul.link-list {
            @apply flex gap-8 items-center;

            li {
                @apply border-b-2 border-transparent hover:border-brand-2 transition-all delay-100;
            }

            &.guest-routes {
                @apply flex gap-3 items-center ml-10;

                li {
                    @apply border border-brand-2 hover:bg-brand-2 hover:border-transparent px-4 py-1.5 rounded-md;

                    a {
                        @apply sm:font-semibold lg:font-bold;
                    }
                }
            }

            &.auth-routes {
                @apply ml-10;

                li.admin-nav-link {
                    @apply sm:hidden;
                }
            }
        }
    }

    // &.user-logged-in {
    // }
}

.footer-wrapper {
    footer {
        @apply text-brand-1 text-center font-bold h-20 flex justify-center items-center;
    }
}

.home-page {
    section.hero {
        @apply text-white bg-brand-1;
        height: 70vh;
    }
}
.about-page {
    @apply flex flex-col justify-center items-center w-full bg-white py-10;

    h1 {
        @apply text-brand-1 text-3xl font-bold;
    }

    .about-content {
        @apply flex flex-col justify-center  items-center w-11/12 sm:w-2/3 lg:w-1/2;

        .content-item {
            @apply flex flex-col mt-10 items-center;

            .explanation {
                @apply w-95/100 md:w-2/3;

                p {
                    @apply text-center text-gray-800;

                    a{
                        strong{
                            @apply text-brand-2;
                        }
                    }
                }
            }

            .tech-stack {
                @apply flex flex-col justify-center items-center mt-10 w-95/100 sm:w-2/3;

                p {
                    @apply text-brand-1 text-lg font-semibold;
                }

                .stacks {
                    @apply grid grid-cols-3 mt-5 gap-4 w-3/4 sm:w-full;

                    .stack {
                        @apply flex flex-col justify-center items-center my-2;
                        img {
                            @apply h-7 sm:h-8;
                        }

                        p {
                            @apply text-gray-800 text-sm;
                        }
                    }
                }
            }
        }
    }
}

.contact-page {
    @apply flex flex-col justify-center items-center w-full;

    .is-sent {
        @apply flex flex-col min-h-3/4vh justify-center items-center;

        i {
            @apply text-7xl text-green-600 mb-2 border-4 border-green-600 p-10 rounded-full;
        }

        h2 {
            @apply text-brand-1 text-xl font-semibold;
        }

        p {
            @apply text-gray-600;
        }
    }

    .contact-form-wrapper {
        @apply w-full;

        form {
            @apply items-center;
            .input-group {
                @apply w-full;
            }

            button[type="submit"] {
                @apply bg-brand-1 font-bold text-white w-1/3 flex items-center justify-center py-4 hover:rounded-xl;
            }
        }
    }
}

.contact-page .contact-form-wrapper,
.login-page,
.register-page {
    @apply flex flex-col justify-center items-center pt-20;

    h1 {
        @apply text-brand-1 text-3xl font-bold;
    }

    form {
        @apply w-10/12 sm:w-3/5 lg:w-2/5 flex flex-col justify-center;

        .form-btns {
            @apply flex justify-between items-center;

            button[type="submit"] {
                @apply bg-brand-1 font-bold text-white w-1/3 flex items-center justify-center py-4 hover:rounded-xl;
            }

            button.social-login-btn {
                @apply bg-gray-200 font-bold text-brand-1  flex items-center justify-center py-4 px-4 sm:px-8 border hover:border-brand-1;

                i {
                    @apply ml-2;
                }
            }
        }
    }
}
.profile-page {
    @apply flex flex-col p-5 lg:p-10  min-h-app-mscreen  sm:min-h-app-screen;

    h1 {
        @apply text-brand-1 text-xl sm:text-3xl font-bold;
    }

    .update-info {
        @apply mt-12;

        h1 {
            @apply text-lg  font-bold;
        }

        .update-actions {
            @apply flex flex-col sm:flex-row my-3;

            .note{

                @apply text-brand-2 p-3 bg-brand-1 rounded-md shadow-sm;

                

                p{
                    @apply  text-base font-semibold;



                    span{
                        @apply font-bold;
                    }

                }
            }
           
        }
        .allowed-updates {
            @apply flex flex-col justify-between mt-5;

            .fields {
                @apply w-full flex flex-col sm:flex-row sm:justify-between lg:space-x-4 transition-all;

                .input-group {
                   
                    &.two-fields{
                        @apply w-full sm:w-30/100 lg:w-1/2;
                    }
                   
                    &.three-fields{
                        @apply w-full sm:w-30/100 lg:w-1/3;
                    }

                    label {
                        
                    }

                    input {
                    }
                }
            }

            button {
                @apply w-full md:w-1/3 lg:w-1/4 px-10 py-5 font-semibold bg-blue-500 text-white hover:rounded-md;
            }
        }
    }

    .current-info {
        @apply grid grid-cols-1 sm:grid-cols-2 gap-4 mt-2 sm:mt-5;

        .details {
            @apply flex flex-col;

            .detail {
                @apply  w-1/2 sm:w-full flex flex-col  ;

                .title {
                    @apply text-brand-1 text-base sm:text-xl font-semibold sm:font-bold;
                }

                .value {
                    @apply text-gray-800 text-base sm:text-lg;
                }

                &:not(:last-child) {
                    @apply mb-3 sm:mb-5;
                }
            }
        }

        .social-accounts {
            @apply flex flex-col my-3 sm:my-0;

            h2 {
                @apply text-brand-1 text-lg sm:text-xl font-semibold sm:font-bold;
            }

            .social-account {
                @apply flex items-center my-2;

                i {
                    @apply text-brand-1 text-xl mr-2;
                }

                .brand {
                    @apply text-gray-700 ml-2 text-lg;
                }
            }
        }
    }
}

.social-login-providers-page {
    @apply min-h-screen flex flex-col justify-center items-center;

    section.provider-buttons {
        @apply flex flex-col justify-center items-center w-95/100 md:w-2/3 lg:w-1/3;

        button {
            @apply py-4 text-white rounded-md bg-brand-1 w-3/5 flex justify-center items-center;

            span {
                @apply font-bold ml-2 text-white flex justify-center items-center;

                i {
                    @apply text-xl mr-2;
                }
            }

            &:not(:last-child) {
                @apply mb-2;
            }
        }

        .note {
            @apply text-brand-1 opacity-80 text-sm mt-4 text-center;
        }
    }
}

.login-resolve-page {
    @apply flex items-center justify-center min-h-1/2vh;

    h1 {
        @apply text-brand-1 font-bold;
    }
}

// DASHBOARD PAGE

.dashboard-page {
    @apply min-h-app-mscreen sm:min-h-app-screen p-5 lg:p-10;

    h1 {
        @apply text-base md:text-2xl lg:text-3xl text-brand-1 font-bold;
    }

    section.dash-items {
        @apply grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-5 mt-5;

        a {
            .item-card {
                @apply border border-gray-100 shadow flex flex-col justify-center  items-center rounded-md py-7 sm:p-5 lg:p-10 bg-white;

                i {
                    @apply font-bold text-2xl lg:text-3xl text-brand-1;
                }

                p {
                    @apply font-bold text-xl lg:text-2xl text-gray-700;
                }

                span {
                    @apply font-semibold text-xl lg:text-2xl text-gray-700;
                }
            }
        }
    }
}
// DASHBOARD PAGE END

// CAR LISTING COMPONENT
section.car-list-wrapper {
    @apply my-4 sm:my-7 lg:my-10 flex flex-col;

    .add-cars, .list-header button.add-cars {
        @apply py-1 px-5 bg-brand-1 text-white hover:rounded;

        i {
        }
    }

    .list-header {
        @apply flex justify-between items-center;

       

        h1 {
            @apply text-xl md:text-2xl lg:text-3xl text-brand-1 font-bold;
        }

        span {
            @apply text-base lg:text-lg text-brand-1 font-semibold;
        }

        a {
            @apply text-base md:text-xl text-brand-1 font-bold hover:text-brand-2 transition-all delay-100;

            i {
                @apply lg:hidden;
            }

            &:hover {
                i {
                    @apply inline-block;
                }
            }
        }
    }

    section.car-list {
        @apply mt-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 md:gap-4 lg:gap-8;

        a {
            .car-card {
                @apply bg-brand-1 cursor-pointer h-200 lg:h-300 transition-all delay-100 ease-in-out  hover:rounded-md hover:shadow-md;

                .caption-wrapper {
                    @apply flex justify-end h-full w-full;

                    .caption {
                        @apply bg-brand-3 text-brand-1 w-1/2 lg:w-2/5 h-1/5  self-end px-2 py-1 lg:p-2 flex flex-col lg:justify-between hover:rounded-tl;

                        .title {
                            @apply border-r-2 border-brand-2;

                            h2 {
                                @apply font-bold text-base lg:text-xl;
                                line-height: 1;
                            }
                        }

                        .description {
                            @apply flex flex-row items-center;

                            h2 {
                                @apply text-xs lg:text-lg;
                                line-height: 1;
                            }

                            h3 {
                                @apply ml-2 text-xs lg:text-lg;
                            }
                        }
                    }
                }

                &:hover {
                    filter: sepia(20%);
                    transform: rotate(2deg) scale(0.97);

                    .caption-wrapper .caption {
                        @apply hover:rounded-tl;
                    }
                }
            }
        }
    }

    .pagination {
        @apply flex justify-between items-center mt-10;

        button {
            @apply bg-gray-200 text-brand-1 font-semibold text-sm sm:text-base   shadow px-4 sm:px-5 py-1 lg:px-10 lg:py-2 hover:bg-brand-1 hover:text-brand-3;

            &.disabled {
                @apply bg-gray-200 text-gray-400;
            }

            &.prev,&.next{
                @apply hidden lg:inline-block;
            }
        }

        .page-numbers {

            @apply grid grid-cols-6 sm:grid-cols-10 gap-3 lg:inline-block lg:grid-cols-none lg:gap-0;

            button {
                @apply bg-brand-1 text-brand-3 text-sm sm:text-base   sm:font-semibold shadow mx-1 py-1 px-4 lg:px-5 lg:py-2 hover:bg-gray-200 hover:text-brand-1;
            }

            button.current-page {
                @apply bg-brand-3 text-brand-1 text-sm sm:text-base   sm:font-bold shadow border-t-2 border-brand-2 mx-1 py-1 px-4 lg:px-5 lg:py-2 hover:bg-brand-1 hover:text-brand-2;
            }

            button.peak-page {
                @apply bg-brand-3 border-2 text-sm sm:text-base border-brand-1 text-brand-1 sm:font-bold shadow mx-1 py-1 px-4 lg:px-5 lg:py-2 hover:bg-brand-1 hover:text-brand-2;
            }

            button.showmore.disabled {
                @apply bg-gray-100 text-sm sm:text-base  text-brand-1 py-1 px-2 lg:px-3 lg:py-2 shadow-none;
            }
        }
    }
}
// CAR LISTING COMPONENT END

// SINGLE CAR PAGE

.single-car-page {
    @apply min-h-app-mscreen sm:min-h-app-screen;
    .single-car-wrapper {
        @apply flex flex-col my-3 sm:mt-10;

        .title {
            @apply flex text-brand-1 items-center mb-3;
            a {
                @apply text-2xl font-bold;
            }
            span {
                @apply text-brand-2 px-2 text-2xl;
            }

            h2 {
                @apply text-2xl font-bold;
            }

            h3 {
                @apply text-2xl ml-2;
            }
        }

        .details {
            @apply flex flex-col  sm:h-3/4vh lg:flex-row lg:justify-between;
            // height: 70vh;

            .car-photo {
                @apply w-full lg:w-4/5 h-300 lg:h-3/4vh;
            }

            .description {
                @apply w-full lg:w-1/5 p-0 sm:p-3 bg-brand-3 flex flex-col;

                .information {
                    @apply flex flex-row justify-between lg:flex-col;
                    p {
                        @apply text-brand-1;
                        span {
                            @apply font-bold;
                        }
                    }
                }

                .photos {
                    @apply grid grid-cols-3 md:grid-cols-7 lg:grid-cols-3 mt-3 gap-1;

                    .photo {
                        @apply bg-brand-1;
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
}

// SINGLE CAR PAGE END

// DASBOARD
.dash-wrapper {
    .dash {
        @apply flex justify-between min-h-app-mscreen sm:min-h-app-screen sm:min-h-0 sm:h-appFull;

        // height: calc(100vh - 4rem);

        aside.sidebar {
            @apply hidden md:block w-2/12  h-full  border-r border-brand-1 fixed  left-0 z-10;

            .countd {
                @apply text-brand-1 font-semibold text-xs lg:text-sm p-5 lg:p-10 border-b border-brand-1;

                i {
                    @apply mr-1;
                }
            }

            ul.navigation {
                @apply flex flex-col gap-3 p-5 lg:p-10;

                li {
                    a {
                        @apply text-brand-1 font-bold text-base lg:text-xl;
                    }
                }
            }
        }

        section.admin-content {
            @apply w-full md:w-10/12 ml-auto   bg-brand-3 h-full;
        }
    }
}
// DASBOARD END

section.admin-content {
    // NEW CHAT
    .new-message {
        @apply p-3 sm:p-10 min-h-app-mscreen sm:min-h-app-screen;

        h1 {
            @apply text-xl md:text-2xl lg:text-3xl  text-brand-1 font-bold;
        }

        .create-message-form {
            form {
                button {
                    @apply bg-brand-1 font-bold text-white w-2/5 flex items-center justify-center py-4 hover:rounded-xl;
                }

                .form-inputs{
                    @apply flex flex-col sm:flex-row justify-between;

                    .with-user,.recepient-input,.subject-input{
                        @apply w-full ;
                    }
                }

                .form-btns {
                    @apply flex justify-between items-center;


                    button {
                        @apply font-bold text-white w-2/5 sm:w-1/3 flex items-center justify-center py-4 hover:rounded-xl;

                        &[type="submit"] {
                            @apply bg-brand-1 ;
                        }
    
                        &.cancelBtn {
                            @apply bg-red-800 ;
                        }
                    }
                    
                }
            }
        }
    }
    // NEW CHAT END

    // CHATS

    .no-chats {
        @apply flex flex-col justify-center items-center min-h-app-mscreen sm:min-h-app-screen;

        p {
            @apply text-xl mb-2;
        }

        small {
            @apply text-sm mb-2;
        }

        button.start-messaging {
            @apply px-6 py-2 bg-brand-1 text-white rounded-md;
        }
    }

    .chat-wrapper {
        .chat-head {
            @apply px-3 sm:px-10 mt-5 sm:mt-3;

            h1 {
                @apply text-2xl lg:text-3xl  text-brand-1 font-bold;
            }

            &.chats-home {
                @apply flex justify-between items-center;

                button {
                    @apply px-4 sm:px-6 py-2 bg-brand-1 text-white rounded-md;
                }
            }
        }

        .chat-user-wrapper {
            @apply flex min-h-app-mscreen sm:min-h-app-screen;

            .recepient-profile {
                @apply hidden sm:block  sm:w-1/4 shadow-lg bg-white min-h-app-mscreen sm:min-h-app-screen;

                .profile-pic {
                    @apply h-2/5 border-b border-gray-100 relative;

                    .shader {
                        background: linear-gradient(
                            to bottom,
                            transparent,
                            #ffffff
                        );

                        @apply absolute bottom-0 left-0 w-full h-1/4;
                    }
                }

                .messages-count,
                .postings .posting-count {
                    @apply flex justify-between py-3 px-4;

                    h3 {
                        @apply text-base md:text-lg lg:text-xl  text-brand-1 font-bold inline-block;
                    }

                    span {
                        @apply text-sm md:text-base lg:text-lg  text-brand-1;
                    }
                }

                .postings {
                    @apply flex flex-col;

                    h3 {
                        @apply text-base md:text-lg lg:text-xl  text-brand-1 font-bold;
                    }

                    .photos {
                        @apply grid grid-cols-3 md:grid-cols-7 lg:grid-cols-3 mt-3 gap-1 px-4;

                        a {
                            .photo {
                                @apply bg-brand-1;
                                width: 80px;
                                height: 80px;
                            }
                        }
                    }
                }
            }

            .user-chats {
                @apply w-full sm:w-3/4 flex flex-col bg-brand-3;

                .chat-head {
                    @apply px-4 py-1 mt-0 bg-white;

                    h1 {
                        @apply text-lg md:text-xl lg:text-2xl  text-brand-1 font-bold;
                    }

                    span {
                        @apply text-xs md:text-sm  text-gray-500;
                    }
                }

                .message-input {
                    @apply flex items-center px-4 mt-auto pb-2 sm:pb-4 shadow-sm bg-brand-3;

                    input {
                        @apply w-4/5 sm:w-11/12 p-2 rounded-tl-md rounded-bl-md  text-gray-700 bg-white;
                    }

                    button {
                        @apply w-1/5 sm:w-1/12 py-2 bg-brand-1 font-bold  rounded-tr-md rounded-br-md text-white;
                    }
                }
                .chats {
                    @apply bg-brand-3 overflow-hidden overflow-y-scroll   h-4/5vh md:h-3/4vh;

                    .received,
                    .sent {
                        @apply w-full px-4;

                        .message-wrapper {
                            @apply w-full sm:w-2/3 py-2 px-3 sm:p-4 my-3  rounded-lg sm:rounded-2xl shadow sm:shadow-sm;

                            .sender {
                                @apply flex justify-between;

                                h2 {
                                    @apply text-sm sm:text-base text-white font-semibold sm:font-bold;
                                }

                                span {
                                    @apply text-xs sm:text-base;
                                }
                            }

                            .message {
                            }
                        }
                    }

                    .received {
                        .message-wrapper {
                            @apply bg-white text-brand-1  rounded-bl-none mr-auto;

                            .sender {
                                @apply flex justify-between;

                                h2 {
                                    @apply text-brand-1 font-bold;
                                }

                                span {
                                    @apply text-gray-600;
                                }
                            }

                            .message {
                                @apply text-gray-800;
                            }
                        }
                    }

                    .sent {
                        .message-wrapper {
                            @apply bg-brand-1 text-brand-3  rounded-br-none cursor-pointer ml-auto;

                            .sender {
                                @apply flex justify-between;

                                h2 {
                                    @apply text-brand-3 font-bold;
                                }

                                span {
                                    @apply text-gray-200;
                                }
                            }

                            .message {
                                @apply text-white;
                            }

                            .actions {
                                @apply relative bottom-0 right-0;

                                .action-cover {
                                    @apply absolute z-10 bg-white flex justify-center items-center -bottom-7 h-8 w-8 rounded shadow-sm;
                                    i {
                                        @apply font-bold text-lg;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .chats {
            @apply bg-brand-3 overflow-hidden overflow-y-scroll  h-4/5vh flex flex-col py-3 sm:py-2;

            a {
                &:first-child {
                    .chat-preview {
                        @apply border-t border-gray-300;
                    }
                }

                .chat-preview {
                    @apply flex  border-b border-gray-300 py-2 sm:py-4  px-3 sm:px-10  hover:bg-white cursor-pointer;

                    .profile {
                        @apply flex  items-center;
                        .avatar {
                            @apply h-14 w-14 rounded-full flex justify-center items-center font-extrabold bg-brand-1 text-brand-3;
                        }
                    }

                    .info {
                        @apply ml-5 w-11/12 flex flex-col;

                        .sender {
                            @apply flex justify-between;

                            h2 {
                                @apply text-base text-brand-1 font-bold;
                            }

                            span {
                                @apply text-xs sm:text-base text-gray-600;
                            }
                        }

                        .message {
                            @apply text-gray-600;
                        }
                    }
                }
            }
        }
    }

    // CHATS END

    // ADD CAR SEARCH
    aside.search-drawer-wrapper {
        @apply relative top-0 sm:-top-10 right-0   w-full;

        .search-drawer {
            @apply z-20 absolute top-0 right-0  min-h-app-mscreen sm:min-h-app-screen ml-0 sm:ml-auto w-full sm:w-2/3  xl:w-1/3 flex flex-col  items-center shadow;
            backdrop-filter: blur(25px) saturate(200%);
            background-color: rgba(236, 236, 236, 0.9);

            .map-search {
                @apply absolute z-50 w-full flex flex-col items-center justify-center top-5;

                h1 {
                    @apply font-bold text-xl text-brand-1;
                }

                .search-box {
                    @apply flex items-center  mt-3 h-8 w-4/5;

                    input {
                        @apply rounded-md py-1.5 px-3 border  border-gray-500 focus:border-brand-1 text-center text-brand-1 text-base w-full;
                    }
                }

                .search-results {
                    @apply flex flex-col w-4/5 mt-2  overflow-hidden overflow-y-scroll;

                    max-height: 70vh;

                    .search-result {
                        @apply my-1 bg-gray-100 hover:bg-gray-200 w-full text-sm p-2 cursor-pointer hover:text-brand-1 text-gray-600;
                    }
                }

                .searching,
                .result-count,
                .no-results,
                .init-type-prompt {
                    @apply mt-3 text-gray-600 text-sm w-full text-center;
                }

                button.closeSearch {
                    @apply text-base bg-red-500 px-5 py-2 mt-3 text-white rounded-md;
                }
            }
        }
    }
    // ADD CAR SEARCH END

    //SINGLECAR FIX
    .single-car-page {
        .single-car-wrapper {
            @apply flex flex-col;

            button {
                @apply text-2xl font-bold;
            }

            .details {
                .car-photo {
                    @apply w-full lg:w-3/4    flex justify-end;

                    .delete-image {
                        @apply self-end font-bold bg-white px-3 py-2 hover:bg-red-500 hover:text-white cursor-pointer;

                        i {
                            @apply text-base text-red-500  font-bold;
                        }

                        span {
                            @apply hidden ml-2 text-base;
                        }

                        &:hover {
                            i {
                                @apply text-white;
                            }
                            span {
                                @apply inline;
                            }
                        }
                    }
                }

                .description {
                    @apply w-full lg:w-1/4 mt-3 sm:mt-0;

                    .photos {
                        @apply grid grid-cols-3 md:grid-cols-4 lg:grid-cols-3 mt-3 gap-2;

                        .no-photo {
                            @apply bg-gray-300 flex justify-center items-center cursor-pointer;
                            width: 80px;
                            height: 80px;

                            i {
                                @apply text-brand-1 font-bold text-2xl transition-all delay-100;
                            }

                            &:hover {
                                @apply bg-blue-500;

                                i {
                                    @apply text-3xl font-extrabold text-white;
                                }
                            }
                        }
                    }

                    .actions {
                        @apply flex flex-col mt-10  sm:flex-row sm:justify-between lg:flex-col;

                        button {
                            @apply w-full sm:w-5/12 lg:w-full py-3 rounded-md transition-all delay-75;

                            i {
                                @apply mr-2;
                            }

                            &.map {
                                @apply bg-green-700 text-white hover:bg-green-900;
                            }

                            &.chat {
                                @apply bg-blue-600 text-white hover:bg-blue-900;
                            }
                            &.remove-post {
                                @apply bg-red-600 text-white hover:bg-red-900;
                            }

                            &:not(:last-child) {
                                @apply mb-3 sm:mb-0 lg:mb-3;
                            }
                        }
                    }
                }
            }
        }
    }

    .car-map-overlay-wrapper {
        @apply fixed z-30 top-0 right-0;
        width: 100vw;
        height: 100vh;
        background: rgba(#cccccc, 0.9);

        .map-overlay {
            @apply absolute top-0 z-40 right-0 bg-white shadow text-brand-1;
            width: 80vw;
            height: 100vw;

            .close-handler {
                @apply relative transition-all delay-100;

                button.close {
                    @apply absolute -left-10 font-bold text-5xl;
                }
            }

            .map-feed {
            }
        }
    }

    //SINGLECAR FIX

    //CAR LISTING FIX
    .car-list-wrapper {
        @apply min-h-app-mscreen sm:min-h-app-screen;

        .add-car-form-wrapper {
            @apply bg-brand-3;

            .add-car-form {
                @apply flex flex-col justify-center items-center pt-5;

                h1 {
                    @apply text-brand-1 text-3xl font-bold;
                }

                form {
                    @apply w-11/12  lg:w-4/5 flex flex-col justify-center;

                    .form-input-section {
                        @apply flex flex-col sm:flex-row sm:justify-between;

                        .form-col {
                            @apply w-full sm:w-1/2;

                            .showroom {
                                @apply my-3;

                                h3 {
                                    @apply text-xl font-semibold text-gray-800 mb-2;
                                }
                                .location {
                                    @apply flex  justify-between mt-3;

                                    p {
                                        @apply text-gray-400 w-2/3 mr-2 bg-gray-100 flex justify-center items-center rounded-md;
                                    }

                                    button {
                                        @apply p-2 bg-blue-500 text-white hover:rounded-md;
                                    }
                                }
                            }

                            .file-upload {
                                @apply my-6;

                                h3 {
                                    @apply text-xl font-semibold text-gray-800 mb-2;
                                }
                            }
                        }
                    }

                    .form-btns {
                        @apply flex justify-between items-center;

                        button[type="submit"] {
                            @apply bg-brand-1 font-bold text-white w-1/2 mr-5 flex items-center justify-center py-4 hover:rounded-xl;
                        }

                        button.cancelBtn {
                            @apply bg-red-800 font-bold text-white w-1/2 ml-5 flex items-center justify-center py-4 hover:rounded-xl;
                        }
                    }
                }
            }
        }

        .list-header {
            @apply flex justify-between items-center;

            h1 {
                @apply text-base md:text-lg lg:text-xl text-brand-1 font-bold;
            }

            span {
                @apply text-sm lg:text-base text-brand-1 font-semibold;
            }

            a {
                @apply text-sm md:text-base text-brand-1 font-bold hover:text-brand-2 transition-all delay-100;

                i {
                    @apply lg:hidden;
                }

                &:hover {
                    i {
                        @apply inline-block;
                    }
                }
            }
        }

        section.car-list {
            @apply mt-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-1 md:gap-3 lg:gap-6;

            a {
                .car-card {
                    @apply bg-brand-1 cursor-pointer h-200 md:h-150 lg:h-200;

                    .caption-wrapper {
                        @apply flex justify-end h-full w-full;

                        .caption {
                            @apply w-1/2 lg:w-2/5 h-1/5 sm:h-1/4  self-end px-2 py-1 lg:p-2 flex flex-col lg:justify-between;

                            .title {
                                @apply border-r-2 border-brand-2;

                                h2 {
                                    @apply font-bold text-sm lg:text-base;
                                    line-height: 0.8;
                                }
                            }

                            .description {
                                @apply flex flex-row items-center;

                                h2 {
                                    @apply text-xs lg:text-sm;
                                    line-height: 0.8;
                                }

                                h3 {
                                    @apply ml-2 text-xs lg:text-sm;
                                }
                            }
                        }
                    }

                    &:hover {
                        filter: sepia(20%);
                        transform: rotate(2deg) scale(0.97);

                        .caption-wrapper .caption {
                            @apply hover:rounded-tl;
                        }
                    }
                }
            }

            .car-card.skeleton {
                @apply bg-gray-300 cursor-pointer min-h-100 md:min-h-150 lg:min-h-200;

                .caption-wrapper {
                    @apply flex justify-end h-full w-full;

                    .caption {
                        @apply bg-gray-200 opacity-80 w-1/2 lg:w-2/5 h-1/4 sm:h-1/4  self-end px-2 py-1 lg:p-2 flex flex-col lg:justify-between;

                        .title {
                            @apply h-2/5 bg-gray-500;
                        }

                        .description {
                            @apply h-1/4 bg-gray-400;
                        }
                    }
                }
            }
        }
    }
    //CAR LISTING FIX END
}
