@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

//THEMIFY
@import "../themify-icons/themify-icons.css";

html,
body,
* {
    @apply p-0 m-0;
    box-sizing: border-box;
    --scrollbarBG: #ccc;
    --thumbBG: #14213d;
}

html,.chats {
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

// GLOBAL

.app-wrapper {
    @apply min-h-screen flex flex-col;
}

.footer-wrapper {
    @apply mt-auto;
}

.car-drive-container {
    @apply px-3 sm:px-5 lg:px-10;
}

// GLOBALEND

// LOADER
.loader {
    .loading {
        @apply bg-brand-2 w-full;
        height: 5px;
        background: linear-gradient(90deg, #fca311, #fca311) center bottom/0 5px
            no-repeat;
        animation: loaderLoading 1.2s ease infinite;
    }
}

@keyframes loaderLoading {
    0%,
    100% {
        background-size: 0 5px;
    }

    75% {
        background-size: 100% 5px;
    }
}

// LOADER END

// INPUT GLOBAL STYLES

.radio-group {
    @apply flex items-center justify-between w-4/5 my-5 lg:w-3/5;
}

.input-group {
    @apply flex flex-col my-5;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="number"],
.input-group input[type="password"],
.input-group input.with-datalist {
    @apply appearance-none;
    background: linear-gradient(90deg, #14213d44, #14213d) center bottom/0 2px
            no-repeat,
        linear-gradient(90deg, #11111144, #11111144) left bottom/100% 2px
            no-repeat,
        linear-gradient(90deg, #f3f4f633, #f3f4f633) left bottom/100% no-repeat;

    transition: background-size 0.3s ease;
    padding: 12px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: none;
    outline: none;
}

.input-group input[type="file"] {
    @apply appearance-none;
    padding: 12px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 3px #f3f4f6cc solid;
    outline: none;
}

.input-group select {
    @apply my-2 appearance-none;

    padding: 12px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 3px #f3f4f6cc solid;
    outline: none;
}

.input-group label {
    @apply text-xl font-semibold text-gray-800;
}

.field-errors {
    @apply text-xs text-red-600 italic;
}

.input-group label .hint-box {
    @apply text-sm ml-2 italic font-normal;
}

.input-group {
    --anim-duration: 0.2s;
    --anim-easing: ease-out;
}

.input-group textarea {
    border: #11111144 2px solid;
    padding: 12px;
    outline: none;
    border-radius: 3px;
    background-color: #f3f4f633;
    transition: border-left-color var(--anim-duration) var(--anim-easing),
        border-top-color var(--anim-duration) var(--anim-easing)
            calc(var(--anim-duration) * 1),
        border-right-color var(--anim-duration) var(--anim-easing)
            calc(var(--anim-duration) * 2),
        border-bottom-color var(--anim-duration) var(--anim-easing)
            calc(var(--anim-duration) * 3);
}

.input-group textarea:focus {
    border: #f27323 2px solid;
    transition: border-bottom-color var(--anim-duration) var(--anim-easing),
        border-right-color var(--anim-duration) var(--anim-easing)
            calc(var(--anim-duration) * 1),
        border-top-color var(--anim-duration) var(--anim-easing)
            calc(var(--anim-duration) * 2),
        border-left-color var(--anim-duration) var(--anim-easing)
            calc(var(--anim-duration) * 3);
}

.input-group input:focus {
    background-size: 100% 2px, 100% 2px, 100%;
}

.input-group input,
.input-group textarea {
    @apply flex flex-col mt-3 mb-6;
}

// INPUT GLOBAL STYLES END

.navbar-wrapper {
    @apply bg-brand-1 h-16 text-white  flex justify-between items-center;

    .branding {
        img {
            @apply h-8;
        }
    }

    i.nav-toggle {
        @apply text-brand-2 text-xl sm:hidden cursor-pointer;
    }

    nav {
        @apply hidden sm:flex sm:items-center sm:gap-4;

        ul.link-list {
            @apply flex gap-8 items-center;

            li {
                @apply border-b-2 border-transparent hover:border-brand-2 transition-all delay-100;
            }

            &.guest-routes {
                @apply flex gap-3 items-center ml-10;

                li {
                    @apply border border-brand-2 hover:bg-brand-2 hover:border-transparent px-4 py-1.5 rounded-md;

                    a {
                        @apply sm:font-semibold lg:font-bold;
                    }
                }
            }

            &.auth-routes {
                @apply ml-10;
                span {
                }
            }
        }
    }

    &.user-logged-in {
    }
}

.footer-wrapper {
    footer {
        @apply text-brand-1 text-center font-bold h-20 flex justify-center items-center;
    }
}

.home-page {
    section.hero {
        @apply text-white bg-brand-1;
        height: 70vh;
    }
}
.about-page,
.contact-page {
    @apply flex flex-col justify-center items-center;

    h1 {
        @apply text-brand-1 text-xl font-bold;
    }
}

.login-page,
.register-page {
    @apply flex flex-col justify-center items-center pt-20;

    h1 {
        @apply text-brand-1 text-3xl font-bold;
    }

    form {
        @apply w-10/12 sm:w-3/5 lg:w-2/5 flex flex-col justify-center;

        .form-btns {
            @apply flex justify-between items-center;

            button[type="submit"] {
                @apply bg-brand-1 font-bold text-white w-1/3 flex items-center justify-center py-4 hover:rounded-xl;
            }

            button.social-login-btn {
                @apply bg-gray-200 font-bold text-brand-1  flex items-center justify-center py-4 px-4 sm:px-8 border hover:border-brand-1;

                i {
                    @apply ml-2;
                }
            }
        }
    }
}

.social-login-providers-page {
    @apply min-h-screen flex flex-col justify-center items-center;

    section.provider-buttons {
        @apply flex flex-col justify-center items-center w-1/3;

        button {
            @apply py-4 text-white rounded-md bg-brand-1 w-3/5 flex justify-center items-center;

            span {
                @apply font-bold ml-2 text-white flex justify-center items-center;

                i {
                    @apply text-xl mr-2;
                }
            }

            &:not(:last-child) {
                @apply mb-2;
            }
        }

        .note {
            @apply text-brand-1 opacity-80 text-sm mt-4 text-center;
        }
    }
}

.login-resolve-page {
    @apply flex items-center justify-center min-h-1/2;

    h1 {
        @apply text-brand-1 font-bold;
    }
}

// CAR LISTING COMPONENT
section.car-list-wrapper {
    @apply my-4 sm:my-7 lg:my-10 flex flex-col;

    .list-header {
        @apply flex justify-between items-center;

        button.add-cars {
            @apply py-1 px-5 bg-brand-1 text-white hover:rounded;

            i {
            }
        }

        h1 {
            @apply text-xl md:text-2xl lg:text-3xl text-brand-1 font-bold;
        }

        span {
            @apply text-base lg:text-lg text-brand-1 font-semibold;
        }

        a {
            @apply text-base md:text-xl text-brand-1 font-bold hover:text-brand-2 transition-all delay-100;

            i {
                @apply lg:hidden;
            }

            &:hover {
                i {
                    @apply inline-block;
                }
            }
        }
    }

    section.car-list {
        @apply mt-4 grid grid-cols-2 md:grid-cols-3 gap-2 md:gap-4 lg:gap-8;

        a {
            .car-card {
                @apply bg-brand-1 cursor-pointer h-150 md:h-200 lg:h-300 transition-all delay-100 ease-in-out  hover:rounded-md hover:shadow-md;

                .caption-wrapper {
                    @apply flex justify-end h-full w-full;

                    .caption {
                        @apply bg-brand-3 text-brand-1 w-1/2 lg:w-2/5 h-1/4 sm:h-1/5  self-end px-2 py-1 lg:p-2 flex flex-col lg:justify-between hover:rounded-tl;

                        .title {
                            @apply border-r-2 border-brand-2;

                            h2 {
                                @apply font-bold text-base lg:text-xl;
                                line-height: 1;
                            }
                        }

                        .description {
                            @apply flex flex-row items-center;

                            h2 {
                                @apply text-xs lg:text-lg;
                                line-height: 1;
                            }

                            h3 {
                                @apply ml-2 text-xs lg:text-lg;
                            }
                        }
                    }
                }

                &:hover {
                    filter: sepia(20%);
                    transform: rotate(2deg) scale(0.97);

                    .caption-wrapper .caption {
                        @apply hover:rounded-tl;
                    }
                }
            }
        }
    }

    .pagination {
        @apply flex justify-between items-center mt-10;

        button {
            @apply bg-gray-200 text-brand-1 font-semibold  shadow px-4 sm:px-5 py-1 lg:px-10 lg:py-2 hover:bg-brand-1 hover:text-brand-3;

            &.disabled {
                @apply bg-gray-200 text-gray-400;
            }
        }

        .page-numbers {
            button {
                @apply bg-brand-1 text-brand-3 sm:font-semibold shadow mx-1 py-1 px-4 lg:px-5 lg:py-2 hover:bg-gray-200 hover:text-brand-1;
            }

            button.current-page {
                @apply bg-brand-3 text-brand-1 sm:font-bold shadow border-t-2 border-brand-2 mx-1 py-1 px-4 lg:px-5 lg:py-2 hover:bg-brand-1 hover:text-brand-2;
            }

            button.peak-page {
                @apply bg-brand-3 border-2 border-brand-1 text-brand-1 sm:font-bold shadow mx-1 py-1 px-4 lg:px-5 lg:py-2 hover:bg-brand-1 hover:text-brand-2;
            }

            button.showmore.disabled {
                @apply bg-gray-100 text-brand-1 py-1 px-2 lg:px-3 lg:py-2 shadow-none;
            }
        }
    }
}
// CAR LISTING COMPONENT END

// SINGLE CAR PAGE

.single-car-page {
    .single-car-wrapper {
        @apply flex flex-col mt-10;

        .title {
            @apply flex text-brand-1 items-center mb-3;
            a {
                @apply text-2xl font-bold;
            }
            span {
                @apply text-brand-2 px-2 text-2xl;
            }

            h2 {
                @apply text-2xl font-bold;
            }

            h3 {
                @apply text-2xl ml-2;
            }
        }

        .details {
            @apply flex flex-col lg:flex-row justify-between;
            height: 70vh;

            .car-photo {
                @apply w-full lg:w-4/5 h-full;
            }

            .description {
                @apply w-full lg:w-1/5 p-3 bg-brand-3 flex flex-col;

                p {
                    @apply text-brand-1;
                    span {
                        @apply font-bold;
                    }
                }

                .photos {
                    @apply grid grid-cols-3 md:grid-cols-7 lg:grid-cols-3 mt-3 gap-1;

                    .photo {
                        @apply bg-brand-1;
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
}

// SINGLE CAR PAGE END

// DASBOARD
.dash-wrapper {
    .dash {
        @apply flex justify-between;

        height: calc(100vh - 4rem);

        aside.sidebar {
            @apply w-2/12  h-full  border-r border-brand-1 fixed  left-0 z-10;

            .countd {
                @apply text-brand-1 font-semibold text-sm p-10 border-b border-brand-1;

                i {
                    @apply mr-1;
                }
            }

            ul.navigation {
                @apply flex flex-col gap-3 p-10;

                li {
                    a {
                        @apply text-brand-1 font-bold text-xl;
                    }
                }
            }
        }

        section.admin-content {
            @apply w-10/12 ml-auto   bg-brand-3 h-full;
        }
    }
}
// DASBOARD END

section.admin-content {
    // CHATS

    .chat-wrapper {
        .chat-head {
            @apply px-4 mb-2;

            h1 {
                @apply text-xl md:text-2xl lg:text-3xl  text-brand-1 font-bold;
            }
        }

        .chat-user-wrapper {
            @apply flex;

            .recepient-profile {
                @apply w-1/4 shadow-lg bg-white min-h-app-screen;

                .profile-pic {
                    @apply h-2/5 border-b border-gray-100 relative;

                    .shader {
                        background: linear-gradient(
                            to bottom,
                            transparent,
                            #ffffff
                        );

                        @apply  absolute bottom-0 left-0 w-full h-1/4;

                      
                    }

                  
                }

                .messages-count{
                    @apply flex flex-col px-4;

                    h3 {
                        @apply text-base md:text-lg lg:text-xl  text-brand-1 font-bold inline-block;
                    }

                    span{
                        @apply text-sm md:text-base lg:text-lg  text-brand-1;
                    }
                }

                .postings {
                    @apply flex flex-col px-4;

                    h3 {
                        @apply text-base md:text-lg lg:text-xl  text-brand-1 font-bold;
                    }

                    .photos {
                        @apply grid grid-cols-3 md:grid-cols-7 lg:grid-cols-3 mt-3 gap-1;

                        .photo {
                            @apply bg-brand-1;
                            width: 80px;
                            height: 80px;
                        }
                    }
                }
            }

            .user-chats {
                @apply w-3/4 flex flex-col;

                .chat-head {
                    @apply px-4 mt-3;

                    h1 {
                        @apply text-xl md:text-2xl lg:text-3xl  text-brand-1 font-bold;
                    }
                }

                .message-input {
                    @apply flex px-4 mt-auto pb-4 shadow-sm;

                    input {
                        @apply w-11/12 p-2 rounded-tl-md rounded-bl-md  text-gray-700;
                    }

                    button {
                        @apply w-1/12 py-2 bg-brand-1 font-bold  rounded-tr-md rounded-br-md text-white;
                    }
                }
                .chats {
                    @apply overflow-hidden overflow-y-scroll  h-3/4vh;

                    .received,
                    .sent {
                        @apply w-full px-4;

                        .message-wrapper {
                            @apply w-2/3 p-4 my-2 shadow-sm;

                            .sender {
                                @apply flex justify-between;

                                h2 {
                                    @apply text-base text-white font-bold;
                                }
                            }
                        }
                    }

                    .received {
                        .message-wrapper {
                            @apply bg-white text-brand-1 rounded-2xl rounded-bl-none mr-auto;

                            .sender {
                                @apply flex justify-between;

                                h2 {
                                    @apply text-base text-brand-1 font-bold;
                                }

                                span {
                                    @apply text-gray-600;
                                }
                            }

                            .message {
                                @apply text-gray-800;
                            }
                        }
                    }

                    .sent {
                        .message-wrapper {
                            @apply bg-brand-1 text-brand-3 rounded-2xl rounded-br-none ml-auto;

                            .sender {
                                @apply flex justify-between;

                                h2 {
                                    @apply text-base text-brand-3 font-bold;
                                }

                                span {
                                    @apply text-gray-200;
                                }
                            }

                            .message {
                                @apply text-brand-3;
                            }
                        }
                    }
                }
            }
        }

        .chats {
            @apply flex flex-col py-4;

            a {
                .chat-preview {
                    @apply flex  justify-between border-b border-gray-200 py-2 my-2 px-10  hover:bg-white cursor-pointer;

                    .profile {
                        @apply flex  items-center;
                        .avatar {
                            @apply h-14 w-14 rounded-full flex justify-center items-center font-extrabold bg-brand-1 text-brand-3;
                        }
                    }

                    .info {
                        @apply ml-5 flex flex-col;

                        .sender {
                            @apply flex justify-between;

                            h2 {
                                @apply text-base text-brand-1 font-bold;
                            }

                            span {
                                @apply text-gray-400;
                            }
                        }

                        .message {
                            @apply text-gray-600;
                        }
                    }
                }
            }
        }
    }

    // CHATS END

    //SINGLECAR FIX

    .single-car-page {
        .single-car-wrapper {
            @apply flex flex-col mt-10;

            button {
                @apply text-2xl font-bold;
            }

            .details {
                .car-photo {
                    @apply w-full lg:w-3/4 h-full;
                }

                .description {
                    @apply w-full lg:w-1/4;

                    .photos {
                        @apply grid grid-cols-2 md:grid-cols-4 lg:grid-cols-3 mt-3 gap-2;

                        .no-photo {
                            @apply bg-gray-300;
                            width: 80px;
                            height: 80px;
                        }
                    }

                    .actions {
                        @apply flex flex-col mt-10;

                        button {
                            @apply w-full py-3 rounded-md transition-all delay-75;

                            i {
                                @apply mr-2;
                            }

                            &.map {
                                @apply bg-yellow-700 text-white hover:bg-yellow-900;
                            }

                            &.chat {
                                @apply bg-blue-500 text-white hover:bg-blue-700;
                            }

                            &:last-child {
                                @apply mt-3;
                            }
                        }
                    }
                }
            }
        }
    }

    .car-map-overlay-wrapper {
        @apply fixed z-30 top-0 right-0;
        width: 100vw;
        height: 100vh;
        background: rgba(#cccccc, 0.9);

        .map-overlay {
            @apply absolute top-0 z-40 right-0 bg-white shadow text-brand-1;
            width: 80vw;
            height: 100vw;

            .close-handler {
                @apply relative transition-all delay-100;

                button.close {
                    @apply absolute -left-10 font-bold text-5xl;
                }
            }

            .map-search {
                @apply absolute z-50 w-full flex flex-col items-center justify-center top-5 font-bold text-2xl;

                input.location-search-input {
                    @apply p-1;
                }

                .autocomplete-dropdown-container {
                    .loading-locations {
                        @apply text-gray-600;
                    }
                }
            }

            .map-feed {
            }
        }
    }

    //SINGLECAR FIX

    //CAR LISTING FIX
    & .car-list-wrapper {
        .add-car-form-wrapper {
            @apply h-3/4vh bg-brand-3;

            .add-car-form {
                @apply flex flex-col justify-center items-center pt-5;

                h1 {
                    @apply text-brand-1 text-3xl font-bold;
                }

                form {
                    @apply w-10/12 sm:w-4/5 lg:w-4/5 flex flex-col justify-center;

                    .form-input-section {
                        @apply flex justify-between;

                        .form-col {
                            @apply w-2/5;

                            .showroom {
                                h3 {
                                    @apply text-xl font-semibold text-gray-800 mb-2;
                                }
                                .location {
                                    @apply flex  justify-between;

                                    p {
                                        @apply text-gray-400 w-2/3 mr-2 bg-gray-100 p-1 rounded-lg;
                                    }

                                    button {
                                        @apply p-2 bg-blue-500 text-white;
                                    }
                                }
                            }

                            .file-upload {
                                @apply mt-5;

                                h3 {
                                    @apply text-xl font-semibold text-gray-800 mb-2;
                                }
                            }
                        }
                    }

                    .form-btns {
                        @apply flex justify-between items-center;

                        button[type="submit"] {
                            @apply bg-brand-1 font-bold text-white w-1/3 flex items-center justify-center py-4 hover:rounded-xl;
                        }

                        button.cancelBtn {
                            @apply bg-red-800 font-bold text-white w-1/3 flex items-center justify-center py-4 hover:rounded-xl;
                        }
                    }
                }
            }
        }

        .list-header {
            @apply flex justify-between items-center;

            h1 {
                @apply text-base md:text-lg lg:text-xl text-brand-1 font-bold;
            }

            span {
                @apply text-sm lg:text-base text-brand-1 font-semibold;
            }

            a {
                @apply text-sm md:text-base text-brand-1 font-bold hover:text-brand-2 transition-all delay-100;

                i {
                    @apply lg:hidden;
                }

                &:hover {
                    i {
                        @apply inline-block;
                    }
                }
            }
        }

        section.car-list {
            @apply mt-4 grid grid-cols-2 md:grid-cols-3 gap-1 md:gap-3 lg:gap-6;

            a {
                .car-card {
                    @apply bg-brand-1 cursor-pointer h-100 md:h-150 lg:h-200;

                    .caption-wrapper {
                        @apply flex justify-end h-full w-full;

                        .caption {
                            @apply w-1/2 lg:w-2/5 h-1/4 sm:h-1/4  self-end px-2 py-1 lg:p-2 flex flex-col lg:justify-between;

                            .title {
                                @apply border-r-2 border-brand-2;

                                h2 {
                                    @apply font-bold text-sm lg:text-base;
                                    line-height: 0.8;
                                }
                            }

                            .description {
                                @apply flex flex-row items-center;

                                h2 {
                                    @apply text-xs lg:text-sm;
                                    line-height: 0.8;
                                }

                                h3 {
                                    @apply ml-2 text-xs lg:text-sm;
                                }
                            }
                        }
                    }

                    &:hover {
                        filter: sepia(20%);
                        transform: rotate(2deg) scale(0.97);

                        .caption-wrapper .caption {
                            @apply hover:rounded-tl;
                        }
                    }
                }
            }

            .car-card.skeleton {
                @apply bg-gray-300 cursor-pointer min-h-100 md:min-h-150 lg:min-h-200;

                .caption-wrapper {
                    @apply flex justify-end h-full w-full;

                    .caption {
                        @apply bg-gray-200 opacity-80 w-1/2 lg:w-2/5 h-1/4 sm:h-1/4  self-end px-2 py-1 lg:p-2 flex flex-col lg:justify-between;

                        .title {
                            @apply h-2/5 bg-gray-500;
                        }

                        .description {
                            @apply h-1/4 bg-gray-400;
                        }
                    }
                }
            }
        }
    }
    //CAR LISTING FIX END
}
